
<h1>Aktuálisan foglalt gépjármű</h1>

<table style="width: 100%">
  <tr>
    <td>Rendszám:</td>
    <td>{{car.plateNr}}</td>
    <td>Évjárat:</td>
    <td>{{car.year}}</td>
  </tr>
  <tr>
    <td>Köbcenti:</td>
    <td>{{car.engineSize}}</td>
    <td>Üzemanyag:</td>
    <td>{{car.petrol}}</td>
  </tr>
</table>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-danger" (click)="release()">Visszaad</button>
  </div>
</div>

<app-my-car-details [car]="car"></app-my-car-details>
